! Police
URxvt.font: xft:DejaVu Sans Mono-9
URxvt.letterSpace: -1

URxvt.foreground: #f2f2f2
URxvt.background: #101010

! Scrollbar
URxvt.saveLines: 10000
URxvt.scrollBar: False
URxvt.scrollTtyOutput: False
URxvt.scrollWithBuffer: True
URxvt.scrollTtyKeypress: True
URxvt.pastableTabs: True
URxvt.cursorBlink: True
URxvt.pointerBlank: True
URxvt.pointerBlankDelay: 60
URxvt.urgentOnBell: true
! resolving rxvt-unicode: unknown terminal type
! URxvt.termName: rxvt-unicode 
! URxvt.termName: rxvt

! désactivation de l encodage "manuel" des caractères unicode (standard ISO 14755)
! pour pouvoir récupérer le "Control-Shift" pour le copy-paste
URxvt.iso14755: false
URxvt.iso14755_52: false

URxvt.perl-ext: tabbed,default,matcher,clipboard
URxvt.keysym.Shift-Control-C:   perl:clipboard:copy
URxvt.keysym.Shift-Control-V:   perl:clipboard:paste

